.homepage-container { 
  height: 100vh; 
  width: 100vh; 
  /* display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; */
  background-color: #060038; 
  padding: 120px; 
}



.display-button { 
  display: inline-block;
}

.hide-button { 
  display: none; 
}
